.SubmitBtn{
    float: right;
    margin-bottom: 15px;
}
.SubmitBtnLeft{
    margin-left: 185px;
}
.organization_preview_img {
    margin-top: 5px;
}
.organization_logo{
    width: 80x;;
    height: 70px;
}
.organization_templete_logo_preview{
    width: 80px;;
    height: 70px;
}
.organization_favicon_preview{
    width: 40px;;
    height: 40px;
}
.airlineTh{
    width: 25%;
}
.fareTh{
    width: 9%;
}
.TaxTh{
    width: 9%;
}
.totalFareTd{
    width: 10%;
}
.commissionTh{
    width: 10%;
}
.aitTh{
    width: 9%;
}
.addTd{
    width: 9%;
}
.amountTh{
    width: 10%;
}
.actionTh{
    width: 4%;
}
.FlightPlusBtn{
    color: white;
}