.SubmitBtn{
    float: right;
    margin-bottom: 15px;
}
.SubmitBtnLeft{
    margin-left: 162px;
}
.organization_preview_img {
    margin-top: 5px;
}
.organization_logo{
    width: 80x;;
    height: 70px;
}
.organization_templete_logo_preview{
    width: 80px;;
    height: 70px;
}
.organization_favicon_preview{
    width: 40px;;
    height: 40px;
}
.airlineTh{
    width: 25%;
}
.fareTh{
    width: 9%;
}
.TaxTh{
    width: 9%;
}
.totalFareTd{
    width: 12%;
}
.commissionTh{
    width: 10%;
}
.aitTh{
    width: 8%;
}
.addTd{
    width: 8%;
}
.amountTh{
    width: 10%;
}
.actionTh{
    width: 5%;
}
.FlightPlusBtn{
    color: white;
}
.FlightSaveBtn{
    text-align: center;
    margin-left: 400px;
}
.element1 
input::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 3;
}
 .SaleTable th{
    font-size: 12px;
} 
.element1 select{
    font-size: 10px;;
}


