.SubmitBtn{
    float: right;
    margin-bottom: 15px;
}
.SubmitBtnLeft{
    margin-left: 162px;
}
.organization_preview_img {
    margin-top: 5px;
}
.organization_logo{
    width: 80x;;
    height: 70px;
}
.organization_templete_logo_preview{
    width: 80px;;
    height: 70px;
}
.organization_favicon_preview{
    width: 40px;;
    height: 40px;
}
/* .airlineTh{
    width: 25%;
}
.fareTh{
    width: 9%;
}
.TaxTh{
    width: 9%;
}
.totalFareTd{
    width: 12%;
}
.commissionTh{
    width: 10%;
}
.aitTh{
    width: 8%;
}
.addTd{
    width: 8%;
}
.amountTh{
    width: 10%;
}
.actionTh{
    width: 5%;
} */

.FlightPlusBtn{
    color: white;
}
.FlightSaveBtn{
    text-align: center;
    width: 58%;
    margin-top: 20px;
    float: right;
}
.element1 
input::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 3;
}

.element1 select{
    font-size: 10px;;
}
.lefttButtonText{
    float: left;
}
.rightButton{
    float: right;
}
.rightButtonairline{
    float: right;
    margin-top: -10px;;
}
.AdminLogo{
    width: 200px;
    height: 50px;;
}

.FlightSaleTable, table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
 .FlightSaleTable, td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
  
  .FlightSaleTable, tr:nth-child(even) {
    background-color: #fff;
    font-size: 12px;
    width: 100%;
  }
.FlightTd{
    width: 170px;
    height: 25px;
}
.fareTd{
    width: 90px;
}
.taxTd{
    width: 90px;
}
.totalFareTd{
    width: 100px;
}
.commissionTd{
    width: 100px;
}
.aitTd{
    width: 100px;
}
.AddTd{
    width: 100px;
}
.saleFooterText{
    float: right;
}
.FlightSaleTable, table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    display: none;
  }
  
.FlightSaleTable, td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
  
.FlightSaleTable, tr:nth-child(even) {
    background-color: #fff;
    font-size: 12px;
    width: 100%;
  }
.detailsTd{
      width: 450px;
  }
.HotelPlusBtn{
      display: none;
      color: white;
  }
.AmountHotel{
      width: 150px;;
  }
.DiscountHotel{
    width: 150px;;
}
.NetamountTd{
    width: 190px;;
}


