.InvicerhtHeader .InvoiceNameText{
    font-size: 30px;

}
.InvicerhtHeader .InvoiceText{
    font-size: 14px;
    font-weight: bold;
}
.InvoiceDateText{

    border: none;
    font-size: 12px;
    background-color: #fff;
}
.InvoiceDateText tr td{
    border: none;
}
.InvoiceTotalDue{
    font-size: 20px;
}
.InvoiceLeftTextArea{
    border: none;
    font-size: 12px;
    margin-top: 50px;
}
.InvoiceLeftTextArea tr td{
    border: none;
}
.InvoiceLeftTextArea .InvoiceName{
    font-size: 15px;
    font-weight: bold;
}
.InvoiceIteamTable{
    width: 100%;
    margin-top: 10px;
}
.InvoiceTotalFotaerTbl{
    float: right;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
}
.InvoiceFooterTEXT{
    margin-top: 80px;
}
.InviceFooterSign{
    border-top: 1px solid #222;
    text-align: center;
}
.InviceLftHeader img{
    height: 80px;
}
.InvoiceNameText{
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}
.invoiceCompanyAddress{
    font-size:14px;
}
.copyrightInvoice{
    font-size:10px !important;
}
